doctype html
html
head
  meta(charset="utf-8")
  link(rel='stylesheet', href='/css/main.css')        
  title Hamb-Menu
body
  nav(role='nav')
    div.menu-toogle
      input(type='checkbox')
      span
      span
      span
      ul.menu
        a(href='#')
          li Home
        a(href='#')
          li About
        a(href='#')
          li Products
        a(href='#')
          li Beer
        a(href='#')
          li Contact
        
