@font-face {
  font-family: 'open-sans-regular';
  src: url("../fonts/OpenSansRegular.eot");
  src: url("../fonts/OpenSansRegular.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSansRegular.woff") format("woff"), url("../fonts/OpenSansRegular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'open-sans-bold';
  src: url("../fonts/OpenSansBold.eot");
  src: url("../fonts/OpenSansBold.eot") format("embedded-opentype"), url("../fonts/OpenSansBold.woff") format("woff"), url("../fonts/OpenSansBold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'avante';
  src: url("../fonts/a_AvanteLt-Light_1305.ttf");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'ubuntu';
  src: url("../fonts/Ubuntu-R.ttf");
  font-weight: bold;
  font-style: normal;
}
body{
  background-image:url('../img/bg/bg.jpg');
  background-repeat:no-repeat;
  background-position:center center;
  background-size:cover;
  background-attachment:fixed;
}
.wrapper{
  display: flex;
  flex-direction: column;
  height: 100%;
}
.container{
  max-width:1200px;
  margin:0 auto;
  padding:0 15px;
}
.header{
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  -webkit-box-pack:center;
  -ms-flex-pack:center;
  justify-content:center;
  padding:20px 0 0 0;
  width:100%;
  margin-bottom:10px;
}
.header .mobile-image{
  display:none;
}
.header__wrapper{
  display:flex;
}
.header__link{
  display:block;
}
.section{
  width:100%;
}
.section .container{
  text-align:center;
}
.section__form{
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  justify-content:flex-end;
  position:relative;
}
.section__registration-form{
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  -webkit-box-orient:vertical;
  -webkit-box-direction:normal;
  -ms-flex-direction:column;
  flex-direction:column;
  -webkit-box-align:center;
  -ms-flex-align:center;
  align-items:center;
  width: 470px;
  border-top-left-radius: 30px;
  border-top-right-radius:30px;
  padding:10px 50px;
  background:linear-gradient(to bottom, #7260b8, #241f71)
}
.mobile-block{
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  -webkit-box-pack:justify;
  -ms-flex-pack:justify;
  justify-content:space-between;
  -webkit-box-align:center;
  -ms-flex-align:center;
  align-items:center;
}
.section__promo{
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  -webkit-box-orient:vertical;
  -webkit-box-direction:normal;
  -ms-flex-direction:column;
  flex-direction:column;
  -webkit-box-align:center;
  -ms-flex-align:center;
  align-items:center;
}
.content{
  flex: 1 0 auto;
}
.section__form-title{
  text-shadow: 0 2px 0 #1c3a41;
  color: #ffffff;
  font-family: "ubuntu";
  font-size: 55px;
  font-weight: 500;
  line-height: 44px;
  text-transform: uppercase;
  margin:0 0 15px 0;
}
.section__form-big-image{
  margin-bottom:15px;
}
.section__form-freespin{
  margin-bottom:15px;
}
.section__form-freespin-text{
  text-shadow: 0 2px 0 #1c3a41;
  color: #ffffff;
  font-family: 'ubuntu';
  font-size: 44px;
  font-weight: 400;
  line-height: 44px;
  text-transform: uppercase;
}
.line{
  width:100%;
  border-bottom:5px solid #8d9e83;
  margin-bottom:20px;
  opacity: 0.5;
}
.nav{
  width:100%;
  margin-bottom:40px;
}
.nav__list{
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  justify-content:center;
}
.nav__list-item{
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  -webkit-box-align:center;
  -ms-flex-align:center;
  align-items:center;
}
.nav__list-item_first-block{
  border-radius: 10px;
  background-color: #52675e;
  padding:20px;
  position: relative;
  z-index: 10;
  left: 15px;
}
.nav__list-item_second-block{
  border-radius: 10px;
  background:rgba(141,158,132,0.6);
  padding:20px;
}
.nav__list-item-small-text{
  color: #f8febd;
  font-family: 'ubuntu';
  font-size: 24px;
  font-style: italic;
  line-height: 44px;
  margin-right:10px;
}
.nav__list-item-big-text{
  color: #f8febd;
  font-family: 'ubuntu';
  font-size: 36px;
  font-weight: 700;
  line-height: 44px;
  text-transform: uppercase;
}
.nav__list-item-offer-text{
  color: #ffffff;
  font-family: 'ubuntu';
  font-size: 24px;
  font-style: italic;
  margin-right:20px;
}
.section__form-button{
  display:flex;
  width:470px;
  height:140px;
  background:url('../img/images/button_red.png') no-repeat;
  border-radius:8px;
  margin-bottom:0;
}
.section__form-button-text{
  text-shadow: 0 0 3px #1c3a41;
  color: #ffffff;
  font-family: 'ubuntu';
  font-size: 60px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  margin:auto;
}
.section-bottom{
  background-color:#173139;
}
.footer{
  width:100%;
  margin-bottom:20px;
}
.footer-wrapper{
  flex: 0 0 auto;
}
.footer .container{
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  -webkit-box-pack:justify;
  -ms-flex-pack:justify;
  justify-content:space-between;
  -webkit-box-align:center;
  -ms-flex-align:center;
  align-items:center;
  -ms-flex-wrap:wrap;
  flex-wrap:wrap;
}
.footer .container img{
  margin-right:4px;
}
.footer-bottom{
  width:100%;
  padding:0 0 20px 0;
}
.footer-bottom__info-text{
  color: #d1cbd3;
  font-size: 12px;
  font-weight: 400;
  line-height:19px;
  font-family:'avante';
}
.footer-bottom__text{
  color: #eff3c2;
  font-size: 12px;
  font-weight: 400;
  line-height: 14px;
  font-family:'avante';
}
.footer-bottom__social-links{
  width:100%;
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  -webkit-box-pack:justify;
  -ms-flex-pack:justify;
  justify-content:space-between;
  -webkit-box-align:center;
  -ms-flex-align:center;
  align-items:center;
}
.footer-bottom__links{
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
}
.footer-bottom__item{
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  margin-right:10px;
}
.footer-bottom__item:hover{
  opacity:0.7;
}
.footer-bottom__item-image{
  margin:auto;
}
.mobile-block{
  display:none;
}
.social-links{
  width:100%;
  padding:20px 0;
  background-color:#52675e;
}
/*Header*/
_::-webkit-:not(:root:root), body{
  background-size:cover;
}
@media screen and (min-width: 1440px){

}
@media screen and (min-width: 1240px) and (max-width: 1440px){

}
@media screen and (min-width: 1000px) and (max-width: 1240px){
  .nav__list-item{
    margin-bottom:20px;
  }
  .nav__list{
    -ms-flex-wrap:wrap;
    flex-wrap:wrap;
    -webkit-box-pack:center;
    -ms-flex-pack:center;
    justify-content:center;
  }
  .nav{
    margin-bottom:0;
  }
}
@media screen and (min-width: 768px) and (max-width: 1000px){
  .footer .container{
    -webkit-box-pack:center;
    -ms-flex-pack:center;
    justify-content:center;
  }
  .footer .container img{
    margin:0 10px 10px 0
  }
  .nav__list{
    -ms-flex-wrap:wrap;
    flex-wrap:wrap;
    -webkit-box-pack:center;
    -ms-flex-pack:center;
    justify-content:center;
  }
  .nav__list-item{
    margin-bottom:20px;
  }
  .nav{
    margin-bottom:0;
  }
  .section__form{
    margin-bottom:20px;
  }
  .nav__list-item_first-block{
    left:0;
  }
  _::-webkit-:not(:root:root), body{
    background-size:cover;
  }
}
@media screen and (min-width: 540px) and (max-width: 768px){
  .footer .container{
    -webkit-box-pack:center;
    -ms-flex-pack:center;
    justify-content:center;
  }
  .footer .container img{
    margin:0 10px 10px 0
  }
  .nav{
    margin-bottom:0;
  }
  .nav__list{
    -ms-flex-wrap:wrap;
    flex-wrap:wrap;
    -webkit-box-pack:center;
    -ms-flex-pack:center;
    justify-content:center;
  }
  .nav__list-item{
    margin-bottom:20px;
  }
  .section__form{
    margin-bottom:20px;
  }
  .section__registration-form{
    width:400px;
  }
  .section__form-freespin-text{
    font-size:38px;
  }
  .section__form-title{
    font-size:45px;
  }
  .nav__list-item_first-block{
    left:0;
  }
  _::-webkit-:not(:root:root), body{
    background-size:cover;
  }
}
@media screen and (max-width: 540px){
  .footer .container{
    -webkit-box-pack:center;
    -ms-flex-pack:center;
    justify-content:center;
  }
  .footer .container img{
    margin:0 10px 10px 0
  }
  .footer-bottom .container{
    -webkit-box-pack:center;
    -ms-flex-pack:center;
    justify-content:center;
  }
  .nav{
    margin-bottom:0;
  }
  .nav__list{
    -ms-flex-wrap:wrap;
    flex-wrap:wrap;
    -webkit-box-pack:center;
    -ms-flex-pack:center;
    justify-content:center;
  }
  .nav__list-item{
    margin-bottom:20px;
  }
  .footer-bottom__info-text{
    text-align:center;
  }
  .footer-bottom__social-links{
    -webkit-box-orient:vertical;
    -webkit-box-direction:reverse;
    -ms-flex-direction:column-reverse;
    flex-direction:column-reverse;
    -webkit-box-pack:center;
    -ms-flex-pack:center;
    justify-content:center;
    -webkit-box-align:center;
    -ms-flex-align:center;
    align-items:center;
  }
  .footer-bottom__links{
    margin-bottom:20px;
  }
  .nav__list-item{
    margin-right:0;
  }
  .nav__list-text{
    font-size:14px;
  }
  .nav__list-item-number{
    width:40px;
    height:55px;
  }
  .nav__list-item-text{
    width:188px;
    padding-left:10px;
    height:55px;
  }
  .nav__list-number{
    font-size:37px;
  }
  .nav__list-text{
    font-size:19px;
    line-height:15px;
  }
  .nav__list-text_bold{
    font-size:14px;
  }
  .section__form{
    margin-bottom:20px;
  }
  .section__registration-form{
    width:400px;
  }
  .section__form-freespin-text{
    font-size:38px;
  }
  .section__form-title,
  .nav__list-item-big-text{
    font-size:29px;
  }
  .section__form-button{
    display:flex;
    width:282px;
    height:84px;
    background:url('../img/images/button_red_mobile.png') no-repeat;
    border-radius:8px;
    transform:scale(0.8);
  }
  .section__form-button-text{
    font-size:30px;
  }
  .nav__list-item_first-block{
    flex-wrap:wrap;
    justify-content:center;
    left:0;
  }
  .nav__list-item_second-block{
    justify-content:center;
    flex-wrap:wrap;
  }
  .nav__list-item-offer-text{
    margin-bottom:10px;
  }
  .section__form-big-image{
    transform:scale(0.7);
  }
  .section__registration-form{
    width:248px;
    padding:50px 15px;
  }
  _::-webkit-:not(:root:root), body{
    background-size:cover;
  }
}

