body {
	color: #8f8f8f;
	font: 18px bold;
	font-family: 'Ubuntu', sans-serif;
	background-color: white;
	margin: 0;
}
.container {
    max-width: 100%;
    height: auto;
    margin: 0 auto;
}

#wrapper {
    float:
    width: 65%;
    text-align: center;
}

header {
	height: 70px;
	background-color: #262626;

}
.logo {
    width: 175px;
    height: 175px;
    float: left;
    margin-left: 50px;
    float: left;
    width: 15%;
    text-align: left;
    position: absolute;
    z-index: 12;
}

nav {
    width: 70%;
    display: inline-block;
    vertical-align: top;
    margin-left: 100px;
    margin-top: 5px;
}
nav a {
	text-decoration: none;
}

nav ul {
	margin: 0;
	padding: 0;
}

nav li:hover {
	border-bottom: 4px solid white;
}

nav li a {
	font: 18px 'Ubuntu', sans-serif;
	font-weight: 700;
}

nav li:hover a {
	color: white;
}

.top-menu li {
	list-style-position: inside;
	font: 18px 'Ubuntu', sans-serif;
	font-style: bold;
	display: inline-block;
	padding: 10px 10px 17px 10px;
    margin: 10px;
    border-bottom: 4px solid transparent;
    transition: all .2s;
}
.top-menu a {
	color: #b2b2b2;
}

.topicon {
	background-color: #1c1c1c;
	width: 70px;
	height: 70px;
	display: inline-block;
	
}

#search img {
	width: 30px;
	height: 30px;
	margin-top: 20px;
}

#bin img {
	width: 30px;
	height: 30px;
	margin-top: 20px;
}

.firstblock {
	background-image: url('../pic/hero_bg.jpg');
	background-size: 100%;
	height: 590px;
	position: relative;
	margin: 0 auto;
}

.mainlogo {
	width: 360px;
	height: 360px;
	border: 2px #ffffff solid;
	position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
}

.mainlogo img {
        max-width: 100%;
        height: auto;
        display: block;
        margin: 0 auto;
        padding-top: 75px;
}

.firstblock span p {
    padding-top: 490px;
    font: 18px 'Roboto', sans-serif;
	color: #ffffff;
	text-align: center;
	margin-top: 15px;
	letter-spacing: 4.4px;
}

.firstblock {
	margin-top: -18px;
	position: relative;
}

.maintext {
	width: 100%;
	margin: 0 auto;
}

.newsupply {
	text-align: center;
}

.supply {
	width: 360px;
	height: 215px;
	display: inline-block;
	margin: 30px 30px 30px 30px;
}

.supply:hover {
	transform: scale(1.10);
	transition: all .4s;
}

#womens {
	background-image: url('../pic/about1.jpg');
}

#mans {
	background-image: url('../pic/about2.jpg');
}

#footwear {
	background-image: url('../pic/about3.jpg');
}

.supply p {
	font: 14px 'Ubuntu';
	color: #262626;
}

.supply span {
	font: 42px 'Ubuntu';
	color: #262626;
	font-weight: 700;
}

.text {
	margin-top: 70px;
}

.text a {
	text-decoration: none;
}


.jackets {
	height: 100px;
	box-sizing: border-box;
	vertical-align: top;
}
.jackets ul {
	text-align: center;
}

.jackets ul li {
	display: inline-block;
	padding: 10px 10px;
    margin: 10px;
}

.jacketview hr {
	width: 1140px;

}

.jackets a {
	text-decoration: none;
}

.jackets li:hover {
	border-bottom: 4px solid #262626;
}

.jackets li a {
	font: 18px 'Ubuntu', sans-serif;
	font-weight: 700;
	color: #262626;
}

.jacketview {
	text-align: center;
	padding-bottom: 100px;
}

.jacketprice {
	display: inline-block;
	margin: 20px;
}

.jacketblock {
	width: 263px;
	height: 355px;
	border: 1px #e5e5e5 solid;
	
}

.jacketblock:hover img {
	transform: scale(1.05);
}

.jacketblock img {
	width: 250px;
	height: 294px;
	margin-top: 0px;
	position: relative;
	transition: all .4s;
}

.new {
	width: 50px;
	height: 30px;
	background-color: #333333;
	margin: 5px;
	margin-top: -10px;
	position: relative;
	z-index: 10;
}

.new p {
	font: 16px 'Ubuntu';
	color: #ffffff;
	font-weight: 700;
	padding-top: 5px;
	text-align: center;
}

.buy {
	width: 50px;
	height: 30px;
	background-color: #ef3232;
	position: absolute;
	margin-left: 208px;
	margin-top: -20px;
}

.buy p {
	font: 16px 'Ubuntu';
	color: #ffffff;
	font-weight: 700;
	text-align: center;
	margin-top: 6px;
}

.maintext {
	width: 100%;
	margin: 0 auto;
}

.description p {
	font: 16px 'Ubuntu';
	color: #262626;
}
.description span {
	font: 18px 'Ubuntu';
	color: #262626;
	font-weight: 700;
}

.description {
	margin-top: 40px;
}

.stars {
	margin-top: 10px;
}
.stars img{
	width: 16px;
	height: 16px;
}

.shop {
	background-image: url('../pic/shop.jpg');
	position: relative;
	background-size: 100%;
	height: 590px;
	margin: 0 auto;
}

.shoptext a {
	text-decoration: none;
	color: #ffffff;
}
.shoptext {
	position: absolute;
    top: 130px;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    text-align: center;
    font: 18px 'Ubuntu';
	color: #ffffff;
	font-weight: 700;
}

.shoptext h1 {
	font-size: 70px
}

.shoptext h2 {
	font-size: 50px;
}

.shopnow button {
	width: 278px;
	height: 90px;
	background: rgba(0,0,0,.7);
	margin: 0 auto;
    box-sizing: border-box;
	font: 40px 'Ubuntu';
	color: #ffffff;
	text-align: center;
}

.shopnow button:hover {
	background: rgba(255,255,255,.2);
	text-shadow: 0 3px 0 rgba(0,0,0,1);
	border: 3px white solid;

}

.partners {
	margin-top: 0;
	background-color: #262626;
}


.beforefooter {
	margin: 0 auto;
	width: 175px;
	height: 175px;
}
.beforefooter img {
	margin-top: 20px;

}

.beforetext {
	width: 1080px;
	text-align: center;
	margin: 0 auto;
	font: 16px 'Ubuntu';
	color: #9b9b9b;
	margin-top: 30px;
	position: relative;
}


.partnerslogo {
	text-align: center;
	margin: 0 auto;
}


.partnersimage {
	display: inline-block;
	margin-top: 10px;
	padding-right: 14px;
	padding-left: 14px;

}

.partners hr {
	width: 1142px;
	color: #838383;
	text-align: center;
	margin-top: 30px;	
}


.navigation-background {
	background-color: #262626;
	width: 100%;
}

.navigation {
	width: 1142px;
	margin: 0 auto;
	margin-top: -10px;
	padding-bottom: 20px;
}

.sitemap {
	width: 240px;
	display: inline-block;
	padding-right: 15px;
}


#information {
}

#account {
	margin-left: 40px;
}

#categories {
	margin-left: 40px;
}

.sitemap div {
	display: inline-block;
}

.sitemap h3 {
	font: 16px 'Ubuntu';
	color: #ffffff;
	font-weight: 600;
}

.sitemap a {
	display: block;
	text-decoration: none;
	font: 16px 'Ubuntu';
	color: #9b9b9b;
	margin-bottom: 5px;
	line-height: 2;
}

.sitemap a:hover {
	text-decoration: underline;
}

footer {
	height: 65px;
	font: 16px 'Ubuntu';
	background-color: #1c1c1c;

}

.footer {
	display: inline-table;
	margin-top: 5px;
}
#copywright  {
	margin-left: 85px;
}

#made p {
	margin-left: 295px;
}

.smicons {
	width: 51px;
	height: 51px;
	border: 1px #ffffff solid;
	margin: 5px;
	vertical-align: top;
	padding-left: 2px;
	padding-right: 2px;
	box-sizing: border-box;
	text-align: center;
}

.smicons:hover {
	background-color: rgba(255,255,255,.2);
}
.smicons img {

	padding-top: 16px;
}

#socialmediaicon {
	margin-left: 35px;
	width: 300px;
}

.email {
	margin-top: 10px;
}

input[type="text"] {
	background-color: #262626;
	border: 1px solid #838383;
	width: 169px;
	height: 51px;
	color: #b2b2b2;
	padding: 0 10px;
	vertical-align: top;
}

button {
	color: #fff;
	background-color: #262626;
	border: 1px solid #838383;
	width: 51px;
	height: 52px;
	font-family: 'Ubuntu', sans-serif;
	margin-left: 7px;
}

@media only screen and (max-width: 1024px) {
.firstblock {
	height: 450px;
}
.mainlogo {
	width: 250px;
	height: 250px;
}

.mainlogo img {
	max-width: 70%;
	padding-top: 35px;
}

.firstblock span p {
	padding-top: 360px;
	font-size: 14px;
	letter-spacing: 2.3px;
}

.supply {
	width: 280px;
	height: 180px;
	display: inline-block;
	margin: 20px 20px 20px 20px;
}

.text {
	margin-top: 50px;
}

.jacketview hr {
	width: 769px;
}

.jacketprice {
	display: inline-block;
	margin: 50px;
}


.shop {
	height: 450px;
}

.shoptext {
	top: 30px;
}

.beforetext {
	width: 769px;
}

.partners hr {
	width: 769px;
}


.partnersimage {
	display: inline-block;
	margin-top: 10px;
	padding: 45px;
	padding-top: 10px;
	padding-bottom: 10px;

}

#information {
	width: 225px;
	margin-left: 45px;
}

#account {
	margin-left: 15px;
}

#categories {
	margin-left: 30px;
	width: 155px;
}

.navigation {
	width: 769px;
}

.sitemap {
	width: 210px;
	vertical-align: top;
}

#socialmediaicon {
	width: 769px;
	margin-left: 42px;
}

.email {
	margin-top: -46px;
	float: right;
	margin-right: 40px;
}

.smicons {

	margin-left: 0px;
}

#copywright {
	margin-left: 165px;
}

#made p {
	margin-left: 355px;
}}
