body {
  margin: 0;
  padding: 0; }

.container-wrapper {
  background-image: url("/img/bg.jpg");
  background-position: top;
  background-repeat: no-repeat;
  background-size: 181%; }

.header-logo {
  display: flex;
  justify-content: center;
  padding: 25px 0 38px 0; }

.container {
  margin: 0 auto;
  max-width: 1151px;
  display: flex;
  justify-content: flex-end; }

.form-wrapper {
  width: 527px;
  height: 534px;
  padding: 40px 50px 50px 50px;
  border-radius: 30px;
  background: rgba(38, 73, 77, 0.6);
  text-align: center; }

.form-wrapper h1 {
  color: #fff;
  font-family: 'Ubuntu', sans-serif; }

.content {
  text-shadow: 0 2px 0 #1c3a41;
  justify-content: center;
  text-transform: uppercase;
  line-height: 41px; }

.first-content {
  font-size: 51px; }

.second-content {
  font-size: 157px; }

.third-content {
  font-size: 84px; }

.third-content:after {
  content: 'freespins';
  font-size: 40px; }

.button {
  width: 425px;
  height: 112px;
  cursor: pointer;
  text-shadow: 0 0 3px #1c3a41;
  font-size: 55px;
  font-weight: 700;
  box-shadow: 0 0 6px rgba(255, 254, 189, 0.41);
  background-image: url("/img/bg_bt.png");
  background-size: 107%;
  background-position: center;
  color: #ffffff; }

.button:hover {
  background-size: 107%;
  background-image: url("/img/bg_bt.png");
  background-position: center; }

.footer-wrapper {
  max-width: 1151px;
  margin: 0 auto; }

.footer-bg {
  background-color: #173139; }

.footer-up {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 23px 0 29px 0; }

.footer-up__lic {
  background: url("/img/sprite.png") no-repeat 0 0;
  width: 26px;
  height: 37px; }

.footer-up__age {
  background: url("/img/sprite.png") no-repeat -52px -6px;
  width: 34px;
  height: 34px; }

.footer-up__qs {
  background: url("/img/sprite.png") no-repeat -111px -13px;
  width: 84px;
  height: 20px; }

.footer-up__mg {
  background: url("/img/sprite.png") no-repeat -222px -9px;
  width: 109px;
  height: 27px; }

.footer-up__nt {
  background: url("/img/sprite.png") no-repeat -357px -8px;
  width: 80px;
  height: 29px; }

.footer-up__ygg {
  background: url("/img/sprite.png") no-repeat -464px -10px;
  width: 106px;
  height: 22px; }

.footer-up__ss {
  background: url("/img/sprite.png") no-repeat -595px -9px;
  width: 83px;
  height: 28px; }

.footer-up__nt {
  background: url("/img/sprite.png") no-repeat -708px -14px;
  width: 96px;
  height: 16px; }

.footer-up__skr {
  background: url("/img/sprite.png") no-repeat -837px -6px;
  width: 61px;
  height: 32px; }

.footer-up__mk {
  background: url("/img/sprite.png") no-repeat -936px -5px;
  width: 48px;
  height: 29px; }

.footer-up__me {
  background: url("/img/sprite.png") no-repeat -1016px -5px;
  width: 49px;
  height: 29px; }

.separate {
  width: 100%;
  height: 5px;
  background-color: #8d9e83;
  margin-top: 77px; }

.footer-middle {
  color: #d1cbd3;
  font-family: 'A Avante Lt Light', sans-serif;
  font-size: 12px;
  line-height: 18px;
  text-align: justify; }

.footer-bottom {
  max-width: 1151px;
  color: #d1cbd3;
  font-family: 'A Avante Lt Light', sans-serif;
  font-size: 11px;
  line-height: 14px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between; }

.footer-bottom__lic {
  display: flex;
  align-content: center;
  flex-flow: column;
  line-height: 0.8;
  padding-top: 16px;
  color: #eff3c2; }

.footer__background {
  background-color: #52675e;
  height: 66px;
  padding-top: 19px; }

.footer-bottom__social {
  display: flex;
  justify-content: space-between;
  width: 191px; }

.footer-bt__vk {
  background: url("/img/sn.png") no-repeat 0 0;
  width: 52px;
  height: 52px; }

.footer-bt__yt {
  background: url("/img/sn.png") no-repeat -73px 0;
  width: 53px;
  height: 52px; }

.footer-bt__fb {
  background: url("/img/sn.png") no-repeat -147px 0;
  width: 52px;
  height: 52px; }
